@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: Cairo;
  src: url("../pages/fonts/Cairo-Regular.ttf");
}

body {
  font-family: Cairo;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  direction: rtl;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #00c6c1;
  padding: 15px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.main {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
}

.message-box {
  padding: 20px;
}

.message-box h2 {
  color: #00c6c1;
}

.message-box textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.upload-instructions {
  color: red;
}

.message-box input[type="file"] {
  margin: 10px 0;
}

.message-box button {
  background-color: #00c6c1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-box button:hover {
  background-color: #009f99;
}

footer {
  background-color: #f4f4f4;
  padding: 20px 0;
  margin-top: 20px;
}

footer .footer-row {
  display: flex;
  justify-content: space-between;
}

footer p, footer a {
  color: #333;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  margin-left: 5px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom a {
  color: #00c6c1;
  margin-left: 10px;
}
